/*#app{

    background-color: rgba(255, 255, 255, 0.2)
}*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.center {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
/*img {
    display: inline;
    width: 200px;
    height: 100px;
    margin: 0 auto 0 auto;
}*/

.logo {
    display: inline;
    width: 200px;
    height: 60px;
    margin: 0 auto 0 auto;
}

#footer {
    width: 100%;
    border-top: solid 1px black;
    background-color: white;
    bottom: 0;
}

#description {
    color: #999;
}

#headers {
    margin: 0 auto 0 auto;
    color: lightgray; 
}

#menu-btns {
    margin: 20px auto 0 -40px;
}

#input-parent {
    margin: 2% auto 70px;
    width: 450px;
    position: relative;
}

.guess {
    display: inline;
    font-size: 60px;
    border: 2px solid grey;
    border-radius: 35%;
    padding: 0 25px;
    margin: 0 15px 0 0;
    color: white; 
}

#submit {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    font-size: 25px;
    position: absolute;
    top: 241px;
    left: 316px;
    margin: 24px auto 0 auto;
}

#player-input {
    border-radius: 100%;
    height: 160px;
    width: 160px;
    font-size: 70px;
    position: absolute;
    top: 200px;
    left: 146px;
    background-color: #E6E7E9;
    border: 7px solid #BABFC3;
    margin: 40px auto 0 auto;
}

body {
    background-image: url('../1454.jpg');
}

#lock {
    width: 450px;
    margin: 40px auto -15px auto;
}

#guess-list {
    padding: 0 0 0 47%;
    margin: 2% 0 15% 0;
}

#reset, #hint {
    display: block;
    margin: 1%
}